body{
  background-color: #23252C;
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

/* app */
.App {
  text-align: center;
  margin-top: 8px;
  color: #F5F5F5;
  width: 350px;
  background-color: #1A1B21;
  border-radius: 24px;
  height: 98vh;
}

/* header */
.header .profile-pic{
  background-size: cover;
  width: 100%;
  margin: 0;
  border-radius: 24px 24px 0 0;
}

/* info */
.info{
  height: 41%;
}
.info h1{
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  padding-top: 20px;
}

.info h2{
  color: #F5F5F5;
  margin-left: 12px;
  font-weight: 400;
  font-size: 18px;
}

.info h3{
  margin: 12px 0px;
}

.ctr-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info button{
  width: 110px;
  border-radius: 8px;
  border: none;
}

.info button > i{
  font-size: 16px;
}

button h4{
  margin-left: 12px;
}

 .linkedin{
  background-color: #5093E2;
  color: #F5F5F5;
}

.mail {
  color: #1A1B21;
}

.list-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0px 12px;
  flex-wrap: wrap;
}

.list-flex > li{
  list-style: none;
  padding-bottom: 8px;
}

/* footer */
.footer{
  background-color: #161619;
  border-radius: 0 0 24px 24px;
}
.footer i{
  font-size: 24px;
  margin: 12px;
  color: #918E9B;
}
